<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="textbox_Start_X" value="50"/>
    <add key="textbox_Acc_X" value="1000"/>
    <add key="textbox_Dec_X" value="1000"/>
    <add key="textbox_Max_X" value="200"/>
    <add key="textbox_Start_Y" value="50"/>
    <add key="textbox_Acc_Y" value="1000"/>
    <add key="textbox_Dec_X" value="1000"/>
    <add key="textbox_Max_X" value="200"/>
    <add key="textbox_Distance_X" value="10"/>
    <add key="textbox_Distance_Y" value="10"/>

    <add key="Textbox_Scan_Start_X" value="20"/>
    <add key="Textbox_Scan_Start_Y" value="20"/>
    <add key="Textbox_Scan_Interval_X" value="10"/>
    <add key="Textbox_Scan_Interval_Y" value="10"/>
    <add key="Textbox_Scan_End_X" value="280"/>
    <add key="Textbox_Scan_End_Y" value="280"/>

    <add key="textbox_UnitPerPulse_X" value="0.001"/>
    <add key="textbox_UnitPerPulse_Y" value="0.001"/>


    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
