<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="textBoxSSXStart" value="50"/>
    <add key="textBoxSSXAcc" value="1000"/>
    <add key="textBoxSSXDec" value="1000"/>
    <add key="textBoxSSXMax" value="200"/>
    
    <add key="textBoxSSYStart" value="50"/>
    <add key="textBoxSSYAcc" value="1000"/>
    <add key="textBoxSSYDec" value="1000"/>
    <add key="textBoxSSYMax" value="200"/>
    
    <add key="textBoxMCXOut" value="10"/>
    <add key="textBoxMCYOut" value="10"/>


  </appSettings>
</configuration>